<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="manifest" href="/manifest.webmanifest">
	<link rel="stylesheet" href="/styles/global.css">
	<link rel="stylesheet" href="/styles/layout.css">
	{% block head %}
	{% endblock %}
</head>

<body>
	<header>
		<h1 class="title">dev.yommail.tk</h1>
	</header>
	<div id="body">
		{% block body %}
		<h1>Something went wrong</h1>
		{% endblock %}
	</div>
	<nav class="links">
		{% for link in links %}<div class="divider {{ link.name }}"></div>
		{% include "components/link.html" %}
		{% endfor %}
		<li class=" link" onclick="installPWA()" id="pwaButton">
			<img style="color: white" src="/images/PWA.svg" alt="PWA">
			<p>Install PWA</p>
		</li>
		<div class="divider"></div>
		<li class="link" onclick='toggleTheme()' id="themeButton">
			<img style="transform: rotate(135deg)" src="/images/dark_mode.svg" alt="dark_mode">
			<p>Dark Mode</p>
		</li>
	</nav>
</body>

<script src="/scripts/layout.js"></script>
{% block scripts %}
{% endblock %}

</html>