body {
	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4em 1fr 4rem;
	grid-template-areas: 'header' 'body' 'nav';
	overflow: hidden;
	position: relative;
}

header {
	height: 4rem;
	width: 100%;

	grid-area: header;
	background-color: var(--default-color);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	text-align: center;
}

h1.title {
	grid-area: title;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.links {
	width: 100vw;
	height: 4rem;

	z-index: 1024;

	grid-area: nav;

	position: fixed;
	bottom: 0;

	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: flex-start;

	scroll-snap-type: x mandatory;

	overflow: auto hidden;

	background-color: var(--default-color);

	transition: left 0.1s ease-in-out;
}

.links li {
	border: none;
	background: transparent;
	list-style-type: none;

	scroll-snap-align: start;

	display: inline-flex;

	flex-direction: row;
	justify-items: center;
	align-items: center;

	position: relative;
	/* padding: 0 1rem; */

	height: 4rem;
	line-height: 4rem;
	text-decoration: none;

	color: white;

	font-weight: 600;
}

.links li:hover {
	background-color: var(--accent-color);
}

.links li img {
	min-width: 2rem;
	max-width: 2rem;
	height: auto;
	margin: 0 1rem;

	grid-area: icon;
}

.links li p {
	display: none;
}

#pwaButton {
	margin-left: auto;
}

.links div.divider:first-child {
	margin-left: 0;
	width: calc(100% - 3rem);
}

div.divider {
	margin-left: 30%;
	width: 40%;
	height: 1px;
	background-color: var(--text-color);
}

.links div.divider {
	display: none;
	background-color: white;
}

#body {
	width: 100%;
	height: calc(100% - 8rem);

	grid-area: body;
	padding: 1rem;
	overflow-x: hidden;

	position: fixed;
	top: 4rem;
	bottom: 4rem;

	background-color: var(--background-color);

	transition: background-color 0.2s ease;
}

@media all and (display-mode: standalone) {
	#pwaButton {
		display: none;
	}
	#pwaButton + div.divider {
		display: none;
	}
	#themeButton {
		margin-top: auto;
	}
}

@media only screen and (max-width: 600px) {
	.links li {
		min-width: 4rem;
		max-width: 4rem;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: 4em 1fr;
		grid-template-rows: 4em 1fr;
		grid-template-areas: 'header header' 'nav body';
		overflow: hidden;
		position: relative;
	}

	.links {
		width: 4rem;
		height: calc(100vh - 4rem);

		z-index: 1024;

		grid-area: nav;

		position: fixed;
		top: 4rem;
		bottom: unset;
		left: 0;

		flex-wrap: nowrap;
		justify-content: flex-start;
		flex-direction: column;

		overflow-x: hidden;

		transition: width 0.2s ease;
	}

	.links:hover,
	.links:hover li {
		width: 12rem;
	}

	.links li {
		width: 4rem;
	}

	.links li p {
		grid-area: text;
		margin-left: 0.5rem;
		min-width: 12rem;
		display: block;
		word-break: keep-all;
	}

	.links:hover li p {
		display: block !important;
	}

	.links li img {
		width: 100%;
		margin: 0 1rem;
	}

	.links .divider {
		display: block !important;
		width: calc(100% - 2rem) !important;
		margin: 0em 1em !important;
		transition: all 0.2s ease;
	}

	.links:hover .divider {
		margin: 0em 2em !important;
		width: calc(100% - 4rem) !important;
	}

	.links div.divider:first-child {
		width: 60%;
		margin-left: 1em !important;
	}

	#pwaButton {
		margin-left: unset;
		margin-top: auto;
	}

	#body {
		top: 4rem;
		left: 4rem;
		width: calc(100vw - 4rem);
		height: calc(100vh - 4rem);
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}
