body {
	--nav-bar-size: 4rem;

	width: 100vw;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4rem 1fr var(--nav-bar-size);
	grid-template-areas: "header" "body" "nav";
	overflow: hidden;
	position: relative;
}

header {
	height: 4rem;
	width: 100%;

	grid-area: header;
	background-color: var(--default-color);

	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;

	text-align: center;
}

h1.title {
	grid-area: title;
	height: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
}

.links {
	width: 100vw;
	height: var(--nav-bar-size);

	z-index: 1024;

	grid-area: nav;

	position: fixed;
	bottom: 0;

	display: inline-flex;
	flex-wrap: nowrap;
	justify-content: flex-start;

	scroll-snap-type: x mandatory;

	overflow: auto hidden;

	background-color: var(--default-color);

	transition: left 0.1s ease-in-out;
}

.link {
	border: none;
	background: transparent;
	list-style-type: none;

	scroll-snap-align: start;

	display: inline-flex;

	flex-direction: row;
	justify-items: center;
	align-items: center;

	position: relative;
	/* padding: 0 1rem; */

	height: var(--nav-bar-size);
	line-height: var(--nav-bar-size);
	text-decoration: none;

	color: white;

	font-weight: 600;
}

.link:hover {
	background-color: var(--accent-color);
}

.link img {
	min-width: calc(var(--nav-bar-size) / 2);
	max-width: calc(var(--nav-bar-size) / 2);
	height: auto;
	margin: 0 calc(var(--nav-bar-size) / 4);

	grid-area: icon;
}

.link p {
	display: none;
}

#pwaButton {
	margin-left: auto;
}

div.divider {
	margin-left: 30%;
	width: 40%;
	height: 1px;
	background-color: var(--text-color);
}

.links div.divider {
	display: none;
	background-color: white;
}

#body {
	width: 100%;
	height: calc(100% - 4rem - var(--nav-bar-size));

	grid-area: body;
	padding: 1rem;
	overflow-x: hidden;

	position: fixed;
	top: 4rem;
	bottom: var(--nav-bar-size);

	background-color: var(--background-color);
}

.settings {
	order: 100;
}

@media all and (display-mode: standalone) {
	#pwaButton {
		display: none;
	}
	#pwaButton + div.divider {
		display: none;
	}
	#themeButton {
		margin-top: auto;
	}
}
@media all and (display-mode: standalone) and (min-width: 600px) {
	#pwaButton {
		display: none;
	}
	#pwaButton + div.divider {
		display: none;
	}
	#themeButton {
		margin-top: unset;
		margin-left: auto;
	}
}

@media only screen and (max-width: 600px) {
	.link {
		min-width: var(--nav-bar-size);
		max-width: var(--nav-bar-size);
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body {
		--nav-bar-size: 3rem;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body {
		--nav-bar-size: 3.5rem;
		width: 100vw;
		height: 100vh;
		display: grid;
		grid-template-columns: var(--nav-bar-size) 1fr;
		grid-template-rows: 4em 1fr;
		grid-template-areas: "header header" "nav body";
		overflow: hidden;
		position: relative;
	}

	.links {
		width: var(--nav-bar-size);
		height: calc(100vh - 4rem);

		z-index: 1024;

		grid-area: nav;

		position: fixed;
		top: 4rem;
		bottom: unset;
		left: 0;

		flex-wrap: nowrap;
		justify-content: flex-start;
		flex-direction: column;

		overflow-x: hidden;

		transition: width 0.2s ease;
	}

	.links:hover,
	.links:hover li {
		width: calc(3 * var(--nav-bar-size));
	}

	.link p {
		grid-area: text;
		margin-left: calc(var(--nav-bar-size) / 8);
		min-width: calc(3 * var(--nav-bar-size));
		display: block;
		word-break: keep-all;
	}

	.links:hover li p {
		display: block !important;
	}

	.link img {
		width: 100%;
	}

	.links .divider {
		display: block !important;
		width: calc(100% - (var(--nav-bar-size) / 2)) !important;
		margin: 0em calc(var(--nav-bar-size) / 4) !important;
		transition: all 0.2s ease;
	}

	.links:hover .divider {
		margin: 0em calc(var(--nav-bar-size) / 2) !important;
		width: calc(100% - var(--nav-bar-size)) !important;
	}

	.links div.divider:first-child {
		width: calc(100% - var(--nav-bar-size) / 2) !important;
		margin-left: calc(var(--nav-bar-size) / 4) !important;
	}

	#pwaButton {
		margin-left: unset;
		margin-top: auto;
	}

	#body {
		top: 4rem;
		left: var(--nav-bar-size);
		width: calc(100vw - var(--nav-bar-size));
		height: calc(100vh - 4rem);
	}
}
